@using Demo.Buisness.DataTransferObject.Departments
@model DepartmentDetailsDto
@{
    ViewData["Title"] = "Delete";
}
<h1 class="my-5 m-auto">Delete @Model.Name Department</h1>

<partial name="_ValidationScriptsPartial" />

